.details-page {
  box-sizing: border-box;
}

.top-image-section {
  height: 155px;
  overflow: hidden;
  position: relative;
}

.top-image {
  position: absolute;
  top: -50%;
  width: 100%;
}

.header-section {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 2rem;
}

h3 {
  color: darkgray;
  font-size: 1.2rem;
}

.recipe-tile , .recipe-subtitle {
  margin-top: 0;
}

.icons-section {
  display: flex;
}

.icon-button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  cursor: pointer;
  height: 26px;
  margin: 0.5rem;
  padding: 0;
  width: 26px;
}

.icons {
  width: 1.625rem;
}

.ingredients-section ,
.instructions-section , 
.recomendations-section {
  margin: 1rem;
}

.gray {
  background-color: rgb(236, 236, 236);
  list-style-type: none;
  margin-top: 0.5rem;
  padding: 1rem;
}
