.btn-perfil {
  align-items: flex-end;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
}

.user-mail {
  font-size: 25px;
  line-height: 29px;
  padding-bottom: 20px;
  padding-top: 10px;
  text-align: center;
}

.page-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 100;
  margin-top: 20px;
  padding-right: 400px;
}

.rect {
  align-items: center;
  background: silver;
  border-radius: 4px;
  justify-content: center;
  left: 16px;
  margin: auto;
  margin-bottom: 5px;
  padding: 1px;
  top: 184px;
  width: 900px;
}

@media ( min-width : 360px ) and ( max-width : 761px ) {

  .page-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 100;
    margin-top: 20px;
    padding-right: 100px;
  }

  .rect {
    align-items: center;
    background: silver;
    border-radius: 4px;
    justify-content: center;
    left: 16px;
    margin: 10px;
    padding: 1px;
    top: 184px;
    width: 329px;
  }
}
