.footer-container {
  background-color: rgb(196, 196, 196);
  bottom: 0px;
  box-sizing: border-box;
  display: flex;
  height: 9vh;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.footer-transparent-button {
  background: none;
  border: none;
  height: 9vh;
}

.footer-image {
  height: 75%;
  margin: 0 10px;
}
