.button-receita {
  align-items: center;
  background: rgb(108, 227, 79);
  display: flex;
  font-size: 29px;
  height: 76px;
  justify-content: center;
  left: 11px;
  margin: auto;
  text-decoration: none;
  top: 934px;
  width: 339px;
}
