.radio-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.search-input-container {
  margin: 0.5rem 0;
  text-align: center;
}

.search-input {
  border: 1px solid black;
  height: 1.5rem;
  padding: 0.5rem;
  width: 90%;
}
